
  
 
  <select class="w3-select" name="option">
      <option value="" disabled selected>Seleccione una mesa</option>
      <option value="1">Mesa 1</option>
      <option value="2">Mesa 2</option>
      <option value="3">Mesa 3</option>
      <option value="3">Mesa 4</option>
      <option value="3">Mesa 5</option>
      <option value="3">Mesa 6</option>
      <option value="3">Mesa 7</option>
      <option value="3">Mesa 8</option>
      <option value="3">Barra</option>
    </select>
    
    <br>
    <label>Nombre</label>
  <input class="w3-input" type="text">
  
  <label>Telefono</label>
  <input class="w3-input" type="text">
  
  <label>Mail</label>
  <input class="w3-input " name="email" type="text" placeholder="Email">
  
    
      <p class="w3-center">
    <button class="w3-button w3-section w3-black w3-ripple"> Confirmar </button>
    </p>
   
    